body{
  margin: 0;
}

#header {
  background: #ffffff;
  position: relative;
  top: 0;
  width: 100%;
  box-shadow: 0 1px 3px 2px #dbdbdb
}

#logo object{
  width: 55px;
  height: 55px;
  margin-left: 25.5px;
  margin-top: 8.5px;
  margin-bottom: 6.5px;
}

.writing-container {
  position: relative;
  top: 80px;
  text-align: center;
}

#handwritten{
  width: 237px;
  margin: 0 auto;
}

.copy-container{
  position: relative;
  top: 120px;
}

.copy{
  position: relative;
  width: 391.5px;
  margin: 0 auto;
  text-align: center;
}

.copy > p {
  color: #d8d8d8;
  font-size: 14px;
}

.hero-container{
  position: relative;
  top: 150px;
  padding-bottom: 100px;
}

.hero-container > img{
  width: 100%;
}

.found-container{
  position: relative;
  top:80px;
  text-align: center;
  padding-bottom: 100px;
}

.found-container > img{
  width: 358px;
  margin: 0 auto;
}

.exhibit-container{
  position: relative;
  top: 10px;
  text-align: center;
  padding-bottom: 20px;
}

.exhibit {
  display: inline-block;
  position: relative;
  width: 400px;
}
.exhibit > img {
  width: 400px;
  margin: 5px;
}

.exhibit > h2 {
  color: white;
  text-align:left;
  position: absolute;
  top: 250px;
  left: 50px;
}

.exhibit > span {
  text-align: left;
  display: absolute;
}

#explore {
  font-size: 15px;
  font-weight: 100;
  color: dodgerblue;
  top: 365px;
}

.exhibit > object {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 378px;
  left: 122px;
  display: inline;
}

.share-container{
  position: relative;
  background-color: #448bff;
  padding-bottom: 30px
}

#share-logos{
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
}

#share-logos > object{
  height: 25px;
  margin: 30px;
}

footer{
  position: relative;
}

footer > img{
  width: 100%;
}
