@font-face {
  font-family: 'Matryoshka';
  font-style: normal;
  font-weight: 400;
  src: local('Matryoshka'),
       url('../assets/fonts/denne-sketchy-webfont.eot?#iefix') format('embedded-opentype'),
       url(../assets/fonts/matryoshka.woff) format('woff'),
       url(../assets/fonts/matryoshka.woff2) format('woff2'),
       url(../assets/fonts/matryoshka.ttf) format('truetype'),
       url('../assets/fonts/matryoshka.svg#matryoshka') format('svg');
}

@font-face {
  font-family: 'DenneSketchy';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/denne-sketchy-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/denne-sketchy-webfont.woff2') format('woff2'),
       url('../assets/fonts/denne-sketchy-webfont.woff') format('woff'),
       url('../assets/fonts/denne-sketchy-webfont.ttf') format('truetype'),
       url('../assets/fonts/denne-sketchy-webfont.svg#denne__sketchyregular') format('svg');
}

@font-face {
  font-family: 'DenneMissing';
  src: local('Matryoshka'),
       url(../assets/fonts/matryoshka.woff) format('woff'),
       local('Markerfelt'),
       local('Palatino'),
       local('Book Antiqua');
  unicode-range: U+"+"+24, U+"+"+7C;
}

body{
  margin: 0;
}

.videoWrapper {
  position: relative;
  padding-bottom: 54.3%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#header {
  background: #ffffff;
  position: relative;
  width: 100%;
  box-shadow: 0 1px 3px 2px #dbdbdb
}

#logo object{
  width: 55px;
  height: 55px;
  margin-left: 25.5px;
  margin-top: 8.5px;
  margin-bottom: 6.5px;
}

.writing-container {
  margin-top: 40px;
  text-align: center;

  & > span{
    display: block;
    font-family: "DenneSketchy";
    font-size: 84px;
  }

  & > object {
    width: 200px;
    height: 29px;
    margin: 0 auto;
  }
}


.copy-container{
/*  position: relative;
  top: 60px;*/
  margin-top: 15px;
}

.copy {
  font-size: 15px;
  font-family: 'Roboto-Light';
  position: relative;
  width: 402px;
  margin: 0 auto;
  text-align: center;
  color: rgb(137,137,137);
  line-height: 10px;
}

.hero-container{
  margin-top: 40px;
}

.found-container{
  position: relative;
  top:65px;
  text-align: center;
  padding-bottom: 100px;

  & > img{
    width: 358px;
    margin: 0 auto;
  }
}

.exhibit-container {
  position: relative;
  top: 10px;
  text-align: center;
  padding-bottom: 20px;
}

.exhibit {
  display: inline-block;
  position: relative;
  width: 400px;
  margin: 8px;
  & > img {
    width: 400px;
  }

  & > span {
    font-family: "RobotoSlab-Light";
    font-size: 27.5px;
    color: white;
    text-align:left;
    position: absolute;
    top: 250px;
    left: 50px;
  }

  & > object {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 368px;
    left: 122px;
    display: inline;
  }
}

#explore {
  font-family: "Roboto-Medium";
  font-size: 15px;
  font-weight: 100;
  color: rgb(66,133,244);
  top: 365px;
}


.share-container {
  position: relative;
  background-color: #448bff;
  padding-bottom: 30px
}

#share-logos {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;

  & > object{
    height: 25px;
    margin: 30px;
  }
}

footer{
  position: relative;
  height: 125px;

  & > img{
    width: 100%;
  }
}

