<div class="exhibit" ng-click="EC.showVideo()">
  <img ng-src="assets/{{ imageName }}.png" alt="Exhibit Image">
  <span ng-transclude></span>
  <span id="explore">EXPLORE</span>
  <object data="assets/circle-arrow.svg" type="image/svg+xml"></object>
</div>
<div class="modal-container" ng-show="EC.isVideoShowing">
  <div class="modal">
    <iframe
      title="{{ videoTitle }}"
      class="youtube-player"
      type="text/html"
      width="640"
      height="390"
      ng-src="{{ EC.youtubeVideoURL }}"
      frameborder="0"
      allowFullScreen
    >
    </iframe>
  </div>
</div>


